doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='icon' href='/public/assets/favicon.ico')
        style
            include ../public/css/style.css
            include ../public/css/menu.css
        title Edit Movie
    body
        include ./menuadmin.pug
        #container_create_movie
            form(method="POST", action=`/auth/editMovie/${movieEdit._id}?_method=PUT` autocomplete="off")
                label(for="Title") Title
                input(type="text" name="Title" value=movieEdit.Title required)
                label(for="Year") Year
                input(type="number" name="Year" minlength="4" maxlength="4" value=movieEdit.Year required) 
                label(for="Director") Director
                input(type="text" name="Director" value=movieEdit.Director required) 
                label(for="Poster") Poster
                input(type="text" name="Poster" value=movieEdit.Poster) 
                label(for="Plot") Resume
                textarea(name="Plot", cols="30", rows="10")=movieEdit.Plot
                input(type="submit", value="Edit Movie")